/* Entire page Grid Layout */
.App {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-rows: minmax(50px, auto);
  margin: 0 auto;
  grid-template-areas:
    "header header"
    "leftSidebar main"
    "leftSidebar main";
}

.header {
  grid-area: header;
  background: #c9c9c9;
}

.leftSidebar {
  grid-area: leftSidebar;
  max-width: 262px;
  background: #e3e3e3;
  height: 100vh;
}

.main {
  grid-area: main;
}
